:root {
    --primary: #deaaff;
    --primary-010: #d8bbff;
  
    --white: #fff;
  
    --grey: #9b9ba0;
  
    --blue: #B8C0FF;
    --blue-010: #BBD0FF;
  
    --orange: #FFCFD2;
    --orange-010: #FDE4CF;
  }
  